
html {
    font-size: 62.5%; /*"Hack" 1rem = 1px*/

}
body {
    background-color: rgb(98, 98, 98);
    font-size: 1.6rem;
    background-image: url(./paws.png);
    background-size: 105px;
}
img {
    height: 100%;
}
.main {
    display: flex;
}
p {
        left: 107px;
        position: absolute;
        top: 666px;
        color: white;
}
h2 {
    text-align: center;
    font-size: 3.2rem;
    font-family: 'Poor Story','Courier New', Courier, monospace;

}
.form-container {
    background-color: aliceblue;
    flex: auto;
    background-size: 80px;
        background-image: linear-gradient(181deg, #00bcd4, transparent);
}
.form-header {
    background-color: bisque;
    margin: auto;
    width: fit-content;
    padding: 2px 15px;
    border-radius: 15px;
}
.header {
    display: flex;
    justify-content: center;
    background-color: #cddc39;
    width: auto;
    border-bottom: 5px solid #d31515;
    margin: 0 auto;
}
.header img {
    width: auto;
    height: 95px;
}
.header h1{
    text-align: center;
    font-size: 7rem;
    margin-top: 10px;
    margin-bottom: 0;
    font-family: 'Poor Story','Courier New', Courier, monospace;
}
.container {
    margin: 0 auto;
    max-width: 1200px;
    max-height: 100vh;

}
.mail-pass-tel > div, 
.input-name > div {
    display: flex;
    flex-direction: column;
    padding: 20px;
    width: auto;
    font-size: 2.0rem;
    justify-content: flex-end;
}
.mail-pass-tel, 
.input-name  {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 100px;
    font-family: 'Roboto','Times New Roman', Times, serif;
}
.span {
    font-size: 1rem;
}
.input-name {
    background-color: aquamarine;
    border-radius: 20px 20px 0 0;
}
.mail-pass-tel {
    background-color: aqua;
    border-radius: 0 0 20px 20px;
}
.form-header {
    margin-bottom: 40px;
}
input {
    padding: 5px;
    border: none;
    border-radius: 5px;
}
label {
    margin-bottom: 15px;
}
.button {
    display: flex;
    justify-content: center;
}
button {
    border: none;
    border-radius: 12px;
    width: 400px;
    height: 100px;
    align-items: center;
    font-family: 'Poor Story','Courier New', Courier, monospace;
    font-size: 3.4rem;
    background-color: cadetblue;
    color: #fff;
    margin-top: 15px;

}
input:valid {
    border: 2px solid greenyellow;
}
input:invalid {
    border: 2px solid red;
}